<div class="row">
  <div class="col-md-4"><%= image_tag @image_1 %></div>
  <div class="col-md-4"><%= image_tag @image_2 %></div>
  <div class="col-md-4"><%= image_tag @image_3 %></div>
</div>

<div class='btn-group'>
  <a href="/home/index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
</div>
<div class='btn-group'>
  <a href="/home/selection"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
</div>
