<!-- TEAM SECTION START -->
<section>
    <div id="cbx-team" class="cbx-section cbx-team">
        <div class="cbx-team-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cbx-heading text-center">
                            <h2 class="uppercase wow fadeInUp">카드 3장을 선택하세요</h2>
                            <hr noshade size="" width="" color="">
                            <p class=" wow flipInY">22장의 카드 중 3장을 선택하세요</p>
                        </div>
                    </div>
                </div><!-- //ROW Our Team Header -->
                <div class="row">
                  <% 0.upto(21) do |y| %>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                        <div class="cbx-single-team text-center">
                            <div class="flip-container" ontouchstart="this.classList.toggle('active');">
                                <div class="flipper">
                                    <!-- font content -->
                                    <div class="front cbx-font-side">
                                        <div class="font-single-img text-center">
                                            <%= image_tag "back.png" %>
                                        </div>
                                    </div> <!-- //font content -->
                                    <!-- back content -->
                                    <div class="back cbx-back-side">
                                        <div class="text-center">
                                            <div class="text-center back-single-text">
                                                <%= image_tag @image_[y] %>
                                            </div>
                                        </div>
                                    </div><!-- //back content -->
                                </div>
                            </div>
                        </div> <!--//single team -->
                      </div> <!--//single team main col 3-->
                    <% end %>
                  </div>
                </div> <!--//single team main row-->
            </div> <!--//CONTAINER-->
        </div> <!--//INNER-->
    </div> <!--//SECTION-->
</section> <!-- //New Team Section 24.12.2014  -->
