<html lang="en-us" dir="ltr" class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="//code.jquery.com/jquery-1.8.3.min.js"></script>
<title>타로카드 운세 확인</title>

</head>
<body>
  <script>
  var cardcount = 0;
    $(function(){
      $('.click').click(function(){
        if(cardcount<3&&($(this).attr('class')!="click panel flip")){
          $(this).addClass('flip');
          cardcount++;
          cardpick = this.getElementsByClassName("back");
          card_id1 = cardpick[0].firstElementChild.src;
            $.ajax({
              method: "GET",
              url: "/home/picks",
              data: {card_id: card_id1},
              success: function(){

              },
              error: function(){
                alert( "선택이 정상적으로 이루어지지 않았습니다." );
              }
            })
        }
        else if(cardcount==3&&($(this).attr('class')!="click panel flip")){
          alert("3개를 초과하여 선택하실 수 없습니다.");
        }
        else{}
      });
      $('#resetbtn').click(function(){
        $('.flip').removeClass('flip');
        cardcount = 0;
        $.ajax({
          method: "GET",
          url: "/home/destroy",
          success: function(){

          },
          error: function(){
            alert( "리셋이 정상적으로 이루어지지 않았습니다." );
          }
        })
      });
    });
  </script>
<section>
  <!-- 떠다니는 버튼 코드 -->
  <div class="reset-submit-div">
    <span class="input-group-btn" align="center">
      <!-- <a href="/home/destroy"> -->
        <button id="resetbtn" class="btn lz-submit-btn">리셋</button>
      </a>
    </span>
    <span class="input-group-btn" align="center">
    <a href="/home/result"><button class="btn lz-submit-btn"
            type="button ">확인</button></a>
    </span>
  </div>
  <div id="cbx-team" class="cbx-section cbx-team">
      <div class="cbx-team-inner">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="cbx-heading text-center">
                          <h2 class="uppercase wow fadeInUp">카드 3장을 선택하세요</h2>
                          <hr noshade size="" width="" color="">
                          <p class=" wow flipInY"><%= $name %>님의 운세를 확인하기 위해 22장의 카드 중 3장을 선택하세요</p>
                      </div>
                  </div>
              </div> <!-- 안내문 -->
              <div class="row">
                	<% 0.upto(21) do |y| %>
                  		<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
												<div class="click panel">
														<div class="front">
																<%= image_tag "back.png" %>
														</div>
														<div class="back">
																<%= image_tag($image_[y], class:"picks")  %>
														</div>
												</div>
                  		</div> <!--//single team main col 3-->
                	<% end %>
              </div> <!--//single team main row-->
          	</div> <!--//CONTAINER-->
      </div> <!--//INNER-->
  </div> <!--//SECTION-->
</section>
</body>
</html>
