<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>타로카드 운세 확인</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Fallback For IE 9 [ Media Query and html5 Shim] -->
        <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>

        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- Bootstrap 3.0.3 added, change to bootstrap.min.css and bootstrap-theme.min.css if you need the minified version -->
        <link rel="shortcut icon" type="image/x-icon" href="img/lzfavicon.ico" />
        <link rel="icon" type="image/x-icon" href="img/lzfavicon.ico" />

        <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
        <!-- DNS Prefetch for Google Hosted libraries, Remove if you don't need that. -->
        <link rel="dns-prefetch" href="//ajax.googleapis.com">

    </head>

<!-- TEAM SECTION START -->
<body>
<section>
    <div id="cbx-team" class="cbx-section cbx-team">
        <div class="cbx-team-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cbx-heading text-center">
                            <h2 class="uppercase wow fadeInUp">카드 3장을 선택하세요</h2>
                            <hr noshade size="" width="" color="">
                            <p class=" wow flipInY">22장의 카드 중 3장을 선택하세요</p>
                        </div>
                    </div>
                </div> <!-- 안내문 -->
                <!-- 카드선택창 시작 -->
                <div class="row">
                  <% 0.upto(21) do |y| %>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                      <div class="flip-container" id="card<%=y%>" style="margin-top: 20px;">
                        <div class="flipper">
                          <!-- font content -->
                          <div class="front">
                            <%= image_tag "back.png" %>
                          </div> <!-- //font content -->
                          <!-- back content -->
                          <div class="back">
                            <%= image_tag @image_[y] %>
                          </div><!-- //back content -->
                        </div>
                      </div>
                    </div> <!--//single team main col 3-->
                  <% end %>
                </div> <!--//single team main row-->
            </div> <!--//CONTAINER-->
        </div> <!--//INNER-->
    </div> <!--//SECTION-->
</section> <!-- //New Team Section 24.12.2014  -->
<script>
    $( "#card0" ).click(function() {
      $("#card0").addClass('flip');
    },function(){
      $(this).removeClass('flip');
    });
</script>
</body>
