/*
USE
 .TestClass {
 .hex-to-rgba ((@brand-color, .6);
  color: @rgba;
}

*/
/*
.TestClass {
  .bg-rgba(@brand-color, .9);
}

*/
/*
.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";

}
*/
/*
.font-size(@font-size){
  @pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.5);
  font-size: @font-size * 1px;
  line-height: @font-size * 1.5 * 1px;
  font-size: ~"@{pxFontValue}rem";
  line-height: ~"@{pxLineValue}rem";
}*/
/* ==========================================================================
        CB Basic Typography
========================================================================== */
html {
  font-size: 62.5%;
}

.display-none {
    display: none;
}
/* Sets up the Base 10 stuff */
body {
  padding: 0;
  margin: 0 auto;
  background-color: #f1f1f1;
  color: #222222;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
  font-size: 1.4rem;
}
p,
a,
nav,
ul,
li,
span,
button,
div,
body,
header,
section,
footer,
article,
strong {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
p {
  line-height: 22px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', Arial, sans-serif;
}
.remove-text-dec,
.remove-text-dec:hover,
.remove-text-dec:active,
.remove-text-dec:focus,
.remove-text-dec:visited {
  text-decoration: none;
  display: block;
}
img {
  max-width: 100%;
}
.lz-section-header h2 {
  text-align: center;
}
.lz-section-header.lz-about-heading span {
  margin-right: 25px;
}
.lz-brand-color,
.lz-icon {
  color: #f5740a;
}
.lz-latest-post-view-all {
  color: #f5740a;
}
a,
a:hover,
a:focus {
  color: #f5740a;
  text-decoration: none;
}
.carousel-control,
.carousel-control i,
.carousel-control:hover {
  color: #f5740a;
  opacity: 1;
  text-shadow: none;
}
.cbx-heading {
  margin-top: 130px;
  margin-bottom: 80px;
}
.cbx-heading h2 {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 600;
  color: #f5740a;
  font-size: 35px;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  line-height: 40px;
}
.cbx-heading p {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-size: 2rem;
  padding-top: 10px;
  line-height: 30px;
  letter-spacing: 1px;
}
.cbx-heading hr {
  border-width: 2px;
  border-color: #f5740a;
  width: 7%;
  border: 2px dashed #f5740a;
}
/*! Customized for LaunchZ Comingsoon Template{V-1.02} */
/*@import "variable.less";*/
/* ==========================================================================
        // CB Basic Typography End
==========================================================================*/
/* ==========================================================================
        CB  Header
========================================================================== */
li.cbxgrid-item-none {
  display: none;
}
#lz-headertop {
  background: url('../img/header.jpg') center center no-repeat fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
}
#lz-headertop .cbx-header-inner {
  background: rgba(245, 116, 10, 0.85);
}
.lz-heading {
  margin-top: 70px;
  margin-bottom: 100px;
}
.lz-main-heading,
.lz-main-heading > span {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 90px;
  font-size: 9rem;
  text-align: center;
  color: #fff;
}
.lz-main-heading > span.lz-brand {
  color: #ffffff !important;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 700;
}
.cblz-footer-content .lz-brand {
  color: #505050 !important;
}
.lz-sub-heading {
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 40px;
  font-size: 4rem;
  text-align: center;
  color: #fff;
}
#subscribe {
  height: 70px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #f5740a;
  padding-left: 20px;
}
input#subscribe::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #f5740a;
}
input#subscribe::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #f5740a;
  opacity: 1;
}
input#subscribe::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #f5740a;
  opacity: 1;
}
input#subscribe::ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #f5740a;
}
::-webkit-input-placeholder {
  color: #f5740a;
}
.lz-subscribe {
  margin-top: 138px;
}
.cbx-subscribe-form {
  border: 5px solid #ba5808;
  border-radius: 10px 10px 10px 10px;
}
.lz-submit-btn {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
  background-color: #f7903b;
  text-transform: uppercase;
  background-image: none;
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: none;
  height: 70px;
  font-size: 30px;
  font-size: 3rem;
  color: #fff;
}
.cbx-input-group {
  border: none;
}
.cbx-input-group input:focus {
  border: 1px dashed #f7903b;
}
.lz-submit-btn:hover {
  background-color: #ba5808;
  background-image: none;
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: none;
}
.lz-submit-btn:focus {
  border: 0;
  outline: none;
}
#carousel-reviews .carousel-control.left,
.carousel-control.right {
  right: 18px;
}
/************************
** Intro Animation
*************************/
.cbx-intro-wrapper {
  clear: both;
  margin: 50px 0 auto;
}
.cbx_intro_img_div img {
  max-width: 100%;
  border-radius: 50%;
}
.cbx_intro_btn {
  background: none repeat scroll 0 0 #f5740a;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  margin-top: 20px;
}
.cbx_intro_btn:hover {
  background: #ba5808;
}
.cbx_intro_inner {
  text-align: center;
  text-align: -moz-center !important;
  text-align: -webkit-center;
}
.cbx_intro_img_div img {
  max-width: 100%;
  border-radius: 50%;
}
.cbx_intro_first_div {
  animation: 0.7s ease 0s normal none 1 running anim;
  background-color: #f5740a;
  border-radius: 50%;
  height: 200px;
  padding: 10px;
  width: 200px;
  position: relative;
  right: 12px;
  top: -2px;
}
.cbx_intro_second_div {
  width: 180px;
  height: 180px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  -webkit-animation: anim 1s 1 ease;
  -moz-animation: anim 1s 1 ease;
  -ms-animation: anim 1s 1 ease;
  animation: anim 1s 1 ease;
}
.cbx_intro_img_div {
  width: 180px;
  height: 180px;
  -webkit-animation: animuser 1s 1 ease;
  -moz-animation: animuser 1s 1 ease;
  -ms-animation: animuser 1s 1 ease;
  animation: animuser 1s 1 ease;
}
.cbx_intro_txt_welcome {
  font-size: 46px;
  font-weight: 300;
  color: #ffffff;
  padding-top: 25px;
  -webkit-animation: animwelcome 1.7s 1 ease-in;
  -moz-animation: animwelcome 1.7s 1 ease-in;
  -ms-animation: animwelcome 1.7s 1 ease-in;
  animation: animwelcome 1.7s 1 ease-in;
}
.cbx_intro_txt_user {
  font-size: 22px;
  font-weight: 100;
  color: #f5740a;
  -webkit-animation: animuser 1.9s 1 ease-in;
  -moz-animation: animuser 1.9s 1 ease-in;
  -ms-animation: animuser 1.9s 1 ease-in;
  animation: animuser 1.9s 1 ease-in;
}
.cbx_intro_txt_user a {
  font-size: 25px;
  font-weight: normal;
  color: #f5740a;
  -webkit-animation: animuser 1.9s 1 ease-in;
  -moz-animation: animuser 1.9s 1 ease-in;
  -ms-animation: animuser 1.9s 1 ease-in;
  animation: animuser 1.9s 1 ease-in;
}
.cbx_intro_first_circle {
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  height: 220px;
  left: 50%;
  margin-left: -122px;
  margin-top: -12px;
  padding: 10px;
  position: absolute;
  width: 220px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #f5740a;
  -webkit-animation: anim_wifeo 1.4s infinite linear;
  -moz-animation: anim_wifeo 1.4s infinite linear;
  -ms-animation: anim_wifeo 1.4s infinite linear;
  animation: anim_wifeo 1.4s infinite linear;
}
@-webkit-keyframes anim {
  0% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.7);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes anim {
  0% {
    -moz-transform: scale(0);
  }
  50% {
    -moz-transform: scale(1.7);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes anim {
  0% {
    -ms-transform: scale(0);
  }
  50% {
    -ms-transform: scale(1.7);
  }
  100% {
    -ms-transform: scale(1);
  }
}
@keyframes anim {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes animwelcome {
  0% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes animwelcome {
  0% {
    -moz-transform: scale(0);
  }
  50% {
    -moz-transform: scale(0);
  }
  75% {
    -moz-transform: scale(1.4);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes animwelcome {
  0% {
    -ms-transform: scale(0);
  }
  50% {
    -ms-transform: scale(0);
  }
  75% {
    -ms-transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
  }
}
@keyframes animwelcome {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes animuser {
  0% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes animuser {
  0% {
    -moz-transform: scale(0);
  }
  50% {
    -moz-transform: scale(0);
  }
  75% {
    -moz-transform: scale(1.4);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes animuser {
  0% {
    -ms-transform: scale(0);
  }
  50% {
    -ms-transform: scale(0);
  }
  75% {
    -ms-transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
  }
}
@keyframes animuser {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes anim_wifeo {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
  }
}
@-moz-keyframes anim_wifeo {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(720deg);
  }
}
@-ms-keyframes anim_wifeo {
  0% {
    -ms-transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(360deg);
  }
  100% {
    -ms-transform: rotate(720deg);
  }
}
@keyframes anim_wifeo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
/************************
** End Intro Animation
*************************/

/* ==========================================================================
       // CB  Our Team
========================================================================== */
/********* Default Style **************/
#cbx-team {
  background: url('../img/team-bg.jpg') center center no-repeat fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
}
#cbx-team .cbx-team-inner {
  background-color: rgba(80, 80, 80, 0.9);
  padding-bottom: 130px;
}
#cbx-team-text p {
  padding-bottom: 20px;
}
.lz-team-img img {
  margin-top: 20px;
  width: 150px;
  border: solid 2px #f5740a;
  margin-bottom: 10px;
}

/* ==========================================================================
       // CB Our Team  End
========================================================================== */
/* ==========================================================================
        Style Switcher CSS
========================================================================== */
.lz-switcher-area {
  position: fixed;
  top: 45%;
  right: 0;
  max-width: 300px;
  z-index: 891;
}
.lz-switcher-inner {
  position: relative;
}
.lz-switcher-btn {
  padding: 0px 8px;
  font-weight: bold;
  background: #f5740a;
  font-size: 25px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 892;
}
.lz-switcher-btn:hover,
.lz-switcher-btn:active,
.lz-switcher-btn:focus {
  color: #ffffff;
}
.lz-switcher-body {
  background: rgba(230, 230, 230, 0.93);
  padding: 10px;
  width: 260px;
  position: absolute;
  top: 0;
  right: -280px;
}
.lz-switcher-list li {
  height: 30px;
  width: 30px;
  float: left;
  display: inline-block;
  margin: 10px;
}
.lz-switcher-list li a {
  width: 100%;
  height: 100%;
  display: block;
}
.lz-list-default {
  background: #f5740a;
}
.lz-list-red {
  background: #e74c3c;
}
.lz-list-green {
  background: #2ec887;
}
.lz-list-blue {
  background: #3498db;
}
.lz-list-olive {
  background: #669900;
}
.lz-list-violet {
  background: #9933cc;
}
.lz-switcher-text {
  margin-left: 50px;
}
/* ==========================================================================
        //CBX  Theme Style End
========================================================================== */
/*FOR FLIP*/
/* simple */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  /*border: 1px solid #ccc;*/
}
/*
.flip-container: .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    filter: FlipH;
    -ms-filter: "FlipH";
}
*/
/* START: Accommodating for IE */
.flip-container:active .back,
.flip-container.active .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flip-container:active .front,
.flip-container.active .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* END: Accommodating for IE */
.flip-container,
.front,
.back {
  width: 320px;
  height: 427px;
}
.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  background: lightgreen;
  z-index: 2;
}
.back {
  background: lightblue;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.front .name {
  font-size: 2em;
  display: inline-block;
  background: rgba(33, 33, 33, 0.9);
  color: #f8f8f8;
  font-family: Courier;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 60px;
  left: 25%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em #333;
  display: none;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.back-logo {
  position: absolute;
  top: 40px;
  left: 90px;
  width: 160px;
  height: 117px;
}
.back-title {
  font-weight: bold;
  color: #00304a;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.05em #acd7e5;
  font-family: Courier;
  font-size: 22px;
}
.back p {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 20px;
  font-size: 18px;
}
/* vertical */
.vertical.flip-container {
  position: relative;
}
.vertical .back {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.vertical.flip-container .flipper {
  -webkit-transform-origin: 100% 213.5px;
  -moz-transform-origin: 100% 213.5px;
  -ms-transform-origin: 100% 213.5px;
  transform-origin: 100% 213.5px;
}
/*
.vertical.flip-container:hover .flipper {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}
*/
/* START: Accommodating for IE */
.vertical.flip-container:active .back,
.vertical.flip-container.active .back {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.vertical.flip-container:active .front,
.vertical.flip-container.active .front {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
#cbx-team {
  /* entire container, keeps perspective */
  /*  UPDATED! flip the pane when hovered */
  /* flip speed goes here */
  /* hide back of pane during swap */
  /*  UPDATED! front pane, placed above back */
  /* back, initially hidden pane */
  /*
      Some vertical flip updates
  */
}
#cbx-team .cbx-single-team {
  padding-bottom: 40px;
}
#cbx-team .back-single-text p,
#cbx-team .font-single-text p {
  padding: 15px;
}
#cbx-team .cbx-font-side {
  background: #505050;
  border: 1px solid #f5740a;
}
#cbx-team .cbx-back-side {
  background: #f5740a;
}
#cbx-team .cbx-member-social i {
  padding: 30px 0 10px 0;
  color: #ba5808;
  font-size: 50px;
  font-size: 5rem;
}
#cbx-team .cbx-member-social i:hover {
  color: #ffffff;
}
#cbx-team .font-single-img {
  padding-top: 0px;
}
#cbx-team .font-single-img img {
  border: 1px solid #f5740a;
  width: 160px;
  height: 290px;
}
#cbx-team .flip-container {
  margin: 0 auto;
}
#cbx-team .flip-container {
  perspective: 1000;
  transform-style: preserve-3d;
}
#cbx-team .flip-container:active .back {  /*여기가 핵심 코드 */
  transform: rotateY(0deg);
}
#cbx-team .flip-container:active .front {
  transform: rotateY(180deg);
}
#cbx-team .flip-container,
#cbx-team .front,
#cbx-team .back {
  width: 160px;
  height: 290px;
}
#cbx-team .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
#cbx-team .front,
#cbx-team .back {
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
#cbx-team .front {
  z-index: 2;
  transform: rotateY(0deg);
}
#cbx-team .back {
  transform: rotateY(-180deg);
}
#cbx-team .vertical.flip-container {
  position: relative;
}
#cbx-team .vertical .back {
  transform: rotateX(180deg);
}
#cbx-team .vertical.flip-container:target .back {
  transform: rotateX(0deg);
}
#cbx-team .vertical.flip-container:target .front {
  transform: rotateX(180deg);
}
/*! Customized By JEWEl for Codeboxr{V-1.02} */
/* ==========================================================================
    CodeboxrJEWEl Author's custom  Responsive styles
    ========================================================================== */
/* Large desktop */
@media (min-width: 1300px) and (max-width: 1400px) {
  .lz-heading {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .lz-subscribe {
    margin-top: 100px;
  }
}
/* Large desktop */
/* Large desktop */
@media (max-width: 1199px) {
  .lz-flip-team {
    height: 420px;
  }
  html {
    font-size: 60%;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
  #cbstepreviews .carousel-control.left {
    top: 45%;
    left: -5%;
  }
  #cbstepreviews .carousel-control.right {
    top: 45%;
    right: -5%;
  }
  #cbstepreviews .carousel-control.right {
    /*  display: block;*/
    top: 45%;
    right: -5%;
  }
  .lz-flip-team {
    height: 390px;
  }
  html {
    font-size: 50%;
  }
  /***********
    ** Team
    ***********/
  .lz-team-col {
    width: 31%;
    margin: 0;
    padding: 2%;
  }
  .lz-team-col .card.flipped {
    height: 330px;
  }
  /***********
    ** Team
    ***********/
  /** Flip height **/
  /** End Flip height **/
  /** Team **/
}
/* //768 */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .lz-subscribe {
    max-width: 60%;
    margin: 0 auto;
  }
  .carousel-control-multi {
    left: 3%;
  }
  .carousel-control.right {
    background: none;
    right: 3%;
  }
  .cbx-carousel-indicators {
    bottom: -12%;
  }
  .cbx-carousel-indicators li {
    border: 1px solid #505050;
  }
  #cbstepreviews .carousel-control.left {
    top: 98%;
    left: 30%;
  }
  #cbstepreviews .carousel-control.right {
    top: 98%;
    right: 30%;
  }
  #cbstepreviews .carousel-control.right {
    /*  display: none;*/
    top: 98%;
    right: 30%;
  }
  .lz-flip-team {
    height: 379px;
  }
  .cbx-single-all {
    width: 65%;
    margin: 0 auto;
  }
  html {
    font-size: 65%;
  }
  .lz-main-heading {
    font-size: 60px;
  }
  .lz-sub-heading {
    font-size: 35px;
  }
  .lz-subscribe {
    margin-top: 90px;
    text-align: center;
  }
  .lz-heading {
    margin-bottom: 60px;
  }
  .lz-socialnetwork {
    margin-top: 45px;
  }
  #subscribe {
    font-size: 15px;
    height: 50px;
    padding-left: 5px;
  }
  .lz-submit-btn {
    font-size: 15px;
    height: 50px;
  }
  .lz-section-header h2 {
    margin: 100px 0 50px;
    font-size: 60px;
  }
  .lz-main-heading,
  .lz-main-heading > span {
    font-size: 60px;
  }
  body {
    padding: 0;
  }
  /**************************
    ** Countdown
    ***************************/
  .lz-countdown-main .row {
    margin: 0;
  }
  .lz-countdown-main .col-xs-10 {
    padding-left: 0;
    padding-right: 0;
  }
  .lz-countdown-container .col-xs-10 {
    width: 100%;
  }
  .lz-countdown-container .col-xs-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .lz-countdown-container .col-xs-offset-1 {
    margin: 0;
  }
  .lz-cd-number .digit {
    font-size: 60px;
    top: 10px;
  }
  .lz-team-content p {
    font-size: 16px !important;
  }
  .lz-git-contact {
    margin-left: 70px;
  }
  .lz-contact-li .lz-icon {
    left: 0.857143em;
  }
  #subscribe {
    font-size: 20px;
    height: 40px;
    padding-left: 5px;
  }
  .lz-submit-btn {
    font-size: 14px;
    height: 40px;
  }
  .lz-section-header h2 {
    margin: 70px 0 35px 0;
    font-size: 50px;
  }
  .cbx-parllax-box,
  .cbx-parllax-box p,
  .lz-about-description,
  .lz-about-description p,
  .lz-about-description div {
    line-height: 24px;
    font-size: 20px;
  }
  .cbx-parallax {
    min-height: 300px;
  }
  /*********************
    ** Team
    *********************/
  .lz-team-col {
    width: 45%;
    margin: 2%;
    padding: 2%;
  }
  /*********************
    ** Team End
    *********************/
  /****************
    ** Get in Touch
    ****************/
  .lz-git-contact {
    font-size: 20px;
    line-height: 25px;
  }
  /****************
    ** Get in Touch
    ****************/
  .lz-subscribe {
    margin-top: 30px;
    text-align: center;
  }
  .lz-cd-number .digit .top,
  .lz-cd-number .digit .bottom {
    font-family: helvetica;
  }
  #carousel-reviews .carousel-control.left {
    left: 0;
  }
  #carousel-reviews .carousel-control.right {
    right: 10px;
  }
  .xs-text-center {
    text-align: center;
  }
  .col-item .photo img {
    margin: 0 auto;
    width: 70%;
  }
  .og-expander h3 {
    font-size: 20px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
  }
  .og-details {
    padding: 0 ;
    margin: 0;
  }
  .portfolio-select ul li {
    border: 2px solid #f5740a;
    border-radius: 4px;
    color: #f5740a;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin-right: 2px;
    margin-top: 5px;
    padding: 5px 7px;
  }
  /******* Latest news **********/
  .cbx-latest-area .lz-flip {
    height: 260px;
  }
  /******* End Latest news **********/
  .portfolio-select ul li {
    border: 1px solid #f5740a;
  }
  .portfolio-select ul li:hover {
    border: 1px solid #fff;
  }
  .hvr-underline-from-center:before {
    height: 2px;
  }
  .og-fullimg,
  .og-details {
    width: 47%;
    padding: 0 2%;
  }
}
/* //767 */
@media (max-width: 588px) {
  .lz-flip-team {
    height: 390px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  #cbx-award .cbx-counter-area i {
    background: none !important;
  }
  .lz-subscribe {
    max-width: 70%;
    margin: 0 auto;
  }
  #cbx-portfolio {
    padding-bottom: 50px;
  }
  .carousel-control-multi {
    left: -3%;
  }
  .carousel-control.right {
    background: none;
    right: -3%;
  }
  .cbx-carousel-indicators {
    bottom: -12%;
  }
  .cbx-carousel-indicators li {
    border: 1px solid #505050;
  }
  #cbstepreviews .carousel-control.left {
    top: 100%;
    left: 30%;
  }
  #cbstepreviews .carousel-control.right {
    top: 100%;
    right: 30%;
  }
  #cbstepreviews .carousel-control.right {
    /*  display: none;*/
    top: 100%;
    right: 30%;
  }
  #cbstepreviews .carousel-control {
    display: block;
  }
  html {
    font-size: 50%;
  }
  #cbx-brand .cbx-inner {
    padding-bottom: 0px;
  }
  #cbx-brand .cbx-single-brand {
    margin-bottom: 50px;
  }
  #cbx-aboutus .cbx-inner {
    padding-bottom: 0px;
  }
  .portfolio-area {
    padding-bottom: 40px;
  }
  #cbx-pricing .single-pricing {
    margin-bottom: 15px;
    padding-bottom: 20px;
  }
  #cbx-team .cbx-team-inner {
    padding-bottom: 50px;
  }
  #cbx-news .cbx-inner {
    padding-bottom: 20px;
  }
  /*award section*/
  #cbx-award {
    margin-top: 50px;
  }
  #cbx-award .cbx-inner {
    padding: 50px 0px 20px 0px;
  }
  #cbx-award .cbx-award-float {
    float: left;
    display: inline-block;
    margin-bottom: 30px;
  }
  #cbx-award .cbx-counter-area {
    background-color: rgba(80, 80, 80, 0);
    max-width: 95%;
    border: none;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #cbx-award .cbx-counter-area i {
    font-size: 30px;
    color: #f5740a;
    background: none;
    padding: 0px 20px 0px 0px;
  }
  #cbx-award .cbx-counter-area .cbx-counter {
    padding-right: 30px;
    color: #ffffff;
    font-size: 16px;
    font-size: 1.6rem;
    clear: none;
    display: block;
    max-height: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    max-width: 30%;
  }
  #cbx-award .cbx-counter-area span {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1.6rem;
    color: #ffffff;
    text-transform: uppercase;
  }
  #cbx-award .cbx-counter-area:hover {
    background: none;
    border: none;
  }
  #cbx-award .cbx-counter-area:hover i {
    background: none;
  }
  .cbx-overlay {
    padding: 0px 0px 50px 0px;
  }
  .cbx-subscribe-form {
    border: 2px solid #ba5808;
    border-radius: 5px 5px 5px 5px;
  }
  .lz-main-heading,
  .lz-main-heading > span {
    font-size: 60px;
    font-size: 6rem;
  }
  .lz-sub-heading {
    font-size: 30px;
    font-size: 3rem;
  }
  .cbx-heading {
    margin-top: 70px;
    margin-bottom: 40px;
  }
  .cbx-heading hr {
    border: 1px dashed #f5740a;
  }
  .lz-flip-team {
    height: 369px;
  }
  .cbx-single-all {
    width: 95%;
    margin: 0 auto;
  }
  html {
    font-size: 65%;
  }
  .portfolio-select ul li {
    border: 1px solid #f5740a;
  }
  .portfolio-select ul li:hover {
    border: 1px solid #fff;
  }
  .hvr-underline-from-center:before {
    height: 2px;
  }
  .lz-contact-li .lz-icon {
    left: 35px;
  }
  .lz-cd-number {
    background-color: transparent;
  }
  .lz-submit-btn {
    font-family: helvetica;
  }
  .col-item {
    width: 80%;
    margin: 0 auto;
  }
  .lz-cd-number .digit .top,
  .lz-cd-number .digit .bottom {
    font-family: helvetica;
  }
  .lz-subscribe {
    margin-top: 20px;
    text-align: center;
  }
  body {
    padding: 0;
  }

  /*********************
    ** Team
    *********************/
  .lz-team-col {
    width: 90%;
    margin: 2%;
    padding: 4%;
  }
  /*********************
    ** Team End
    *********************/
  /****************
    ** Get in Touch
    ****************/
  .lz-git-contact {
    font-size: 20px;
    line-height: 25px;
  }
  /****************
    ** Get in Touch
    ****************/
  .lz-facebook,
  .lz-twitter,
  .lz-instagram,
  .lz-google,
  .lz-linkedin,
  .lz-tumblr,
  .lz-rss {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    color: #ffffff;
    float: left;
    font-size: 23px;
    height: 34px;
    padding: 5px;
    width: 34px;
  }
  ul.lz-social li {
    padding: 0;
  }
  .lz-socialnetwork ul {
    height: 35px;
  }
  .cbx-parllax-box h2 {
    font-size: 45px;
  }
  .lz-overlap {
    background-color: transparent !important;
  }
}
/* //480 */
/* Landscape phones and down */
@media (max-width: 450px) {
  .portfolio-select ul li {
    border: 1px solid #f5740a;
  }
  .portfolio-select ul li:hover {
    border: 1px solid #fff;
  }
  .hvr-underline-from-center:before {
    height: 2px;
  }
  .lz-section-header h2 {
    margin: 50px 0 25px 0;
    font-size: 30px;
  }
  #subscribe {
    font-size: 20px;
    height: 35px;
    padding-left: 5px;
  }
  .cbx-parllax-box,
  .cbx-parllax-box p,
  .lz-about-description,
  .lz-about-description p,
  .lz-about-description div {
    font-size: 20px;
    line-height: 25px;
  }
  .cbx-parllax-box h2 {
    font-size: 40px;
  }
  p {
    line-height: 22px;
    font-size: 15px;
  }
}
@media (max-width: 630px) {
  .da-thumbs li a,
  .da-thumbs li a img {
    /*     display: block;*/
    position: relative;
    width: 100%;
  }
  .og-grid li {
    margin: 30px 15px 0;
    /* float: left;*/
    display: inline;
  }
  .og-grid li {
    display: inline-block;
    /*   height: 150px;*/
    margin: 10px 5px 0;
    vertical-align: top;
  }
}
@media (max-width: 586px) {
  .da-thumbs li a,
  .da-thumbs li a img {
    /*     display: block;*/
    position: relative;
    width: 100%;
  }
  .og-grid li {
    margin: 30px 15px 0;
    /*        float: left;*/
  }
  .og-grid li {
    /*  display: inline-block;*/
    /*   height: 150px;*/
    margin: 10px 5px 0;
    vertical-align: top;
  }
  .da-thumbs li a div {
    height: 100%;
    width: 100%;
  }
  .da-thumbs li {
    height: auto !important;
    width: 40%;
    display: inline;
  }
  .da-thumbs li span {
    font-size: 10px;
  }
}
@media (max-width: 360px) {
  .cbx-carousel-indicators {
    bottom: -10%;
  }
}
@media (max-width: 320px) {
  .cbx-carousel-indicators {
    bottom: -9%;
  }
  /*award section*/
  #cbx-award .cbx-counter-area i {
    font-size: 30px;
  }
  #cbx-award .cbx-counter-area .cbx-counter {
    font-size: 17px;
    font-size: 1.7rem;
  }
  #cbx-award .cbx-counter-area span {
    font-size: 17px;
    font-size: 1.7rem;
  }
  .cbx-overlay {
    padding: 20px 0;
  }
  .cbx-subscribe-form {
    border: 1px solid #ba5808;
    border-radius: 2px;
  }
  #subscribe {
    font-size: 20px;
    font-size: 2rem;
  }
  .lz-main-heading,
  .lz-main-heading > span {
    font-size: 60px;
    font-size: 6rem;
  }
  .lz-sub-heading {
    font-size: 30px;
    font-size: 3rem;
  }
  .cbx-heading {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .cbx-heading hr {
    border: 1px dashed #f5740a;
  }
  html {
    font-size: 50%;
  }
}
/*==================================================
     =            Bootstrap 3 Media Queries      =
  ==================================================*/
/* Wide Screens */
/* Large Devices */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
